{% extends "base_user.html.twig" %}

{% block tiltle %}
    Apply for an internship
{% endblock %}

{% block body %}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('done') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
<br>
    <h2>     Apply for the internship
</h2>
    <br>
    {{form(form)}}
{% endblock %}